body{
    background: rgba(54, 54, 114, 0.805);
    font: normal 15px Arial;
}

header{
   text-align: center;
   color: white;
   font-size: 1.6em;
}

section{
    background: white;
    width: 525px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.385);
}

div{
  padding: 8px;
}

footer{
       text-align: center;
       color: white;
       font-style: italic;
}